table  { 
  border-collapse: collapse; 
  width: 100%; 
  background-color: #e5edf0; 
}

.tableFixHead { 
  overflow-y: auto; 
  height: 240px;
}
.tableFixHead thead th { 
  position: sticky; 
  top: 0;
}